@import "variables.less";
.pd-masterfull-wrap {
    padding: 100px 0 100px;
    background: white;
    .pd-container {
        display: block;
        padding-top: 45px;
        >h3 {
            font-size: 50px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 15px;
        }
        > img {
            margin-bottom: 20px;
        }
    }
  
}
.pd-details-wrap {
    display: flex;
    flex-wrap: wrap;
    > div {
        flex: 0 1 33%;
        padding: 2%;
    }
    h4 {
        margin: 0;
        line-height: 130%;;
        font-size: 24px;
    }
    p {
        line-height: 160%;
        font-size: 18px;
    }
}  
