.hp-electronics-wrap {
    background: #EFEFEF;
    position: relative;
    padding: 40px 0;

    .hp-e-content {
        position: absolute;
        left: 65%;
        top: 7vw;
        width: 30%;

        h2 {
            font-size: 4vw;
            margin: 0;
        }

        p {
            font-size: 24px;
        }
    }

    >img {
        transform: translateX(-36%);
    }

    .pd-btn-blue {
        min-width: auto;
    }
}
@media(max-width: 1024px){
    .hp-monitors-wrap, .hp-electronics-wrap,.hp-battle-wrap,.hp-sound-wrap {
        display: none;
    }
}