.hp-deals-banner-wrap {
    background: #b7295a;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        padding-right: 20px;
        font-size: 24px;
        display: block;
    }

    a {
        border: 1px solid white;
        padding: 5px 20px;
        background: none;
        color: white;
        text-decoration: none;
        font-weight: normal;
        display: inline-block;

    }
}