.hp-monitors-wrap {
    position: relative;
    color: white;
    overflow: hidden;
    margin-bottom: -4px;

    .hp-e-content {
        position: absolute;
        left: 9vw;
        top: 6vw;
        width: 35%;

        h2 {
            font-size: 38px;
            margin: 0;

            span {
                display: block;
                font-size: 90px;
            }
        }

        p {
            font-size: 24px;
        }
    }

    img {
        // transform: translateX(-3%);
        max-width: 120%;
    }

    .pd-btn-blue {
        min-width: auto;
    }
}