@import "variables.less";
.pdm-tiny-wrap {
    h4 {
        text-align:center;
    }
    .pdm-container {
        >div {
            padding: 10px 0;
        }
    }
    .pd-details-wrap {
        h4 {
            color: lighten(@blue, 20);
            text-align: left;
            font-size: 8vw;
            margin: 5vh 0;
            line-height: 120%;
        }
    }
    color: white;
    img {
        position: relative;
        transform: translate3d(0, -30px, 0);

    }
    .pd-dw-item {
        &.pdm-activate-img {
            img {
                 transform: scale(1.5) translate3d(0, 20px, 0);
                }
           
        }
    }
}
.pdm-tiny-img-wrap {
    height: 318px;
    padding-top: 20px;
}
