@import "variables.less";
.pdm-video-wrap {
    position: relative;
    margin: 20px 0 0 0;
    .pdm-container {
        position: relative;
    }
}
.pdm-thumbnail-img {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
}
// .pd-video-wrap {
//     opacity: 1;
//     background: black;
//     position: relative;
// }
// .pd-thumbnail {
//     opacity: 0;
//     transition: opacity 1.5s;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;

// }
// .pd-pos-1,
// .pd-pos-2,
// .pd-pos-3,
// .pd-pos-4,
// .pd-pos-5,
// .pd-pos-6,
// .pd-pos-7,
// .pd-pos-8 {
//     .pd-video-wrap {
//         opacity: .01;
//     }
//     .pd-thumbnail {
//         opacity: .01;
//     }
// }
