@import "variables";
.port-body {
        color: white;
        h1 {
            font-size: clamp(3rem, 10cqw, 7rem);
            @media(min-width: 1024px){
                font-size: clamp(3.5rem, 8cqw, 7rem);
            }
        }
        h1 + p{
            margin-bottom: 30px;
        }
    .container {
        background-color: @blue;
        @media(min-width: 1024px){
            padding-left: 5vw;
            padding-right: 5vw;
        }
        
    }

}