.hp-battle-wrap {
    background: black;
    color: white;
    position: relative;
    overflow: hidden;



    .hp-g-content {
        position: absolute;
        top: 5vw;
        left: 15vw;

        h2 {
            font-size: 5vw;
            margin-top: 0;
            margin-bottom: 1vw;

            span {
                display: block;
            }
        }

        p {
            font-size: 24px;
        }

    }

    img {
        max-width: 120%;
    }
}