.hp-business-tech-wrap {
    position: relative;
    background: #bbbbbb;

    img {
        width: 59vw;
    }

    .hp-b-content {
        position: absolute;
        right: 1vw;
        top: 3vw;
        font-size: 2vw;
        width: 37vw;

        .pd-btn-blue {
            min-width: auto;
        }

        span {
            display: block;
        }

        .hp-b-off {
            font-size: 10vw;
        }

        h2 {
            margin: 1vw 0;
        }

    }
}