.hp-gaming-wrap {
    background: black;
    color: white;
    position: relative;
    overflow: hidden;
    border: 10px solid black;
    border-width: 40px 0;



    .hp-g-content {
        position: absolute;
        top: 36px;
        left: 158px;

        h2 {
            font-size: 5vw;
            margin-top: 0;
            margin-bottom: 10px;

            span {
                display: block;
            }
        }

        p {
            font-size: 2.5vw;
        }

        .pd-btn-blue {
            min-width: auto;
        }

    }
}