.hp-sound-wrap {
    position: relative;
    overflow: hidden;

    img {
        max-width: 120%;
        transform: translateX(-15%);
    }

    .hp-s-content {
        position: absolute;
        left: 10vw;
        top: 3vw;
        width: 30%;

        .pd-btn-blue {
            min-width: auto;
        }

        h2 {
            font-size: 5vw;
            margin: 0;
            line-height: 110%;
        }

        p {
            font-size: 2.5vw;
            margin: 2vw 0;

            span {
                font-weight: bold;
                font-style: italic;
            }
        }
    }
}